{% extends "layout.html" %}
{% block body %}
<!-- Page Header-->
<header class="masthead" style="background-image: url( {{ url_for('static',filename='assets/img/home-bg.jpg') }} )">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Admin Panel</h1>
                    <span class="subheading">Manage your posts and save them</span>
                </div>
            </div>
        </div>
    </div>
</header>
​
<div class="container">
    <h2>Basic Actions</h2>
    <hr>
    <a href="/edit/0" class="btn btn-primary">Add New Post</a>
    <a href="/logout" class="btn btn-primary">Logout</a>
    <form action="/uploader" method="POST" enctype="multipart/form-data" class="mt-4">
        <div class="mb-3">
            <label for="myFile" class="form-label">Choose a file to upload</label>
            <input class="form-control" type="file" id="myFile" name="filename">
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>

    <br>
    <h3>Edit Posts</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Post No</th>
                <th>Title</th>
                <th>Tagline</th>
                <th>Date</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        {% for post in posts %}
        <tbody>
            <tr>
                <td>{{ post.sno }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.tagline }}</td>
                <td>{{ post.date }}</td>
                <td><a href="/edit/{{ post.sno }}"><button class="btn btn-primary">Edit</button></a>
                </td>
                <td><a href="/delete/{{ post.sno }}"><button class="btn btn-danger">Delete</button></a>
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>

</div>
</div>
</div>

{% endblock %}